{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="blog-header">
            <h2 class="blog-title"></h2>
        </div>
        <div class="row">
            <div class="col-sm-12 blog-main">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {{ form_start(blogPostForm) }}
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        {{ form_row(blogPostForm.title) }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form_row(blogPostForm.slug) }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ form_row(blogPostForm.description) }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ form_row(blogPostForm.body) }}
                    </div>
                    <div class="form-group col-md-4 pull-right">
                        {{ form_widget(blogPostForm.submit) }}
                    </div>
                </div>
                {{ form_end(blogPostForm) }}
            </div>
        </div>
    </div>
{% endblock %}
